* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: #f2f3ff;
}

nav.navbar {
  height: 10vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #50539F;
}

.icon img{
    width: 70px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #50539F;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;
    text-decoration-skip-ink: none;
}

.contant a {
  background-color: #50539F;
  border-radius: 60px;
}

.contant a:hover {
  background-color: #595cad;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60%;
  }

  h1.name {
    font-weight: bold;
    color: #50539F;
    font-family: Arial, Helvetica, sans-serif;
  }

  .left-section h1 {
    font-size: 70px;
  }

img.svg {
    width: 40px;
    margin: 0;
    
  }

.icons{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}


  button.btn{
    background-color: #50539F;
    width: 50%;
    border-radius: 50px;
    border: none;
  }

  button.btn:hover{
    background-color: #5f61a9;
  }

  img.burger-menu {
    width: 50px;
    margin-right: 20px;
  }

  img.wave {
    width: 100vw;
    position: absolute;
    z-index: -3;
    rotate: y -180deg;

  }

  .wave {
    /* height: 150px; */
    bottom: 0;
  }

